/*auto*/

body { background-color: black; margin: 0; padding: 0; font: normal 12px Arial; color: gray; }
.bg { background: #151515; background: linear-gradient(90deg, #181818, #050505); padding: 60px 0 0 0; height: 480px; }
.container { width: 900px; margin: 0 auto; }
.content { margin: 0 auto; width: 800px; background-color: silver; border-radius: 4px; }
.content-padding { padding: 40px; }
.online-container { float: left; }
.online { font: bold 80px Arial; letter-spacing: -1px; color: white; position: absolute; margin: 132px 0 0 130px; width: 90px; text-align: center; }
.fl { float: left; }
.fr { float: right !important; }
.cl { clear: both; }
.today { float: right; width: 450px; border-left: 1px solid #404040; padding-left: 50px; }
.today dl { margin: 0; padding: 3px 0; height: 20px; border-radius: 4px; background-color: #1C1C1C; margin-bottom: 1px; }
.today dt { margin: 3px 0 0 10px; padding: 0; float: left; width: 150px; }
.today dd { margin: 3px 0 0 10px; padding: 0 20px 0 0; float: right; width: 250px; font-weight: bold; color: silver; text-align: right; font-size: 14px; }
.today strong { color: silver; }
.even { background-color: #222222 !important; }
#states { margin: 20px 0; padding: 0; list-style-type: none; }
#states li { padding: 5px 10px; font-size: 14px; border-radius: 4px; height: 18px; }
#states li:before { width: 40px; content: 'online'; background-color: #31C600; color: white; border-radius: 4px; font-size: 10px; padding: 1px 5px; margin:1px 10px 0 0; float: left; text-align: center; }
#states li:nth-child(odd) { background-color: #1C1C1C; }
#states li:nth-child(even) { background-color: #222222; }
#states li span:first-child { width: 324px !important; }
#states li span { float: left; width: 480px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
h1 { margin: 0 0 30px 0; color: white; text-align: center; font-family: 'Archivo Narrow', Arial; font-weight: 700; font-size: 24px; }
h2 { margin: 0 0 20px 0; color: silver; font-family: 'Archivo Narrow', Arial; font-weight: 700; font-size: 20px; }
.caption { margin: 0 30px 30px 30px; color: yellow; font-family: 'Archivo Narrow', Arial; font-weight: 700; font-size: 30px; border-top:1px dashed #303030; padding: 20px 0 0 0; }
#map { height: 100%; }
.last { text-align: center; font-size: 14px; font-style: italic; margin: 10px 0 0 0; }
.last b { color: silver; }